/*p {
    font: Arial;
    font-size: 40px;
    text-shadow: cadetblue
    
}*/                                                                                                                                                                               